// Colors
$nicks-net-dark-green: #336027;
$nicks-net-light-green: #9BC995;
$nicks-net-neon-green: #CBEAA6;
$nicks-net-yellow-beige: #F3F9D2;
$nicks-net-grey-green: #98B9AB;


// Navigation Colors
$nav-background: $nicks-net-dark-green;
$nav-text-color: $nicks-net-yellow-beige;
$nav-link-color: $nicks-net-light-green;
$nav-visited-link-color: $nicks-net-grey-green;
$nav-hover-link-color: $nicks-net-neon-green;
$nav-active-link-color: $nicks-net-neon-green;

// Clock Variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
